{{!-- COOKIE --}}
<div class="cookie-box duration-300 max-h-svh overflow-y-auto fixed bottom-[30px] sm:right-0 sm:bottom-0 right-[30px] z-[120] p-[30px] bg-black max-w-[625px] sm:max-w-none translate-y-[125%] scrollbar scrollbar-w-[4px] scrollbar-h-[4px] scrollbar-thumb-main-500 scrollbar-track-main-500/10 scrollbar-thumb-rounded-none rounded-[8px] sm:rounded-none" data-expire="14">
   <div class="title-field flex justify-between items-center gap-[20px] text-white">
      <div class="title text-[16px] font-medium">Çerez Ayarları</div>
      <div class="close close-cookie relative cursor-pointer group/close size-[20px] duration-300 hover:rotate-90">
         <div class="line w-[20px] h-[1px] absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 rotate-45 bg-white"></div>
         <div class="line w-[20px] h-[1px] absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 -rotate-45 bg-white"></div>
      </div>
   </div>
   <div class="text-field mt-[16px]">
      <div class="expo text-[14px] sm:text-[12px] text-white/50">Bu web sitesinde, cihaz bilgilerini ve kişisel verileri işlemek için çerezleri ve benzer işlevleri kullanıyoruz. İşleme, içeriğin, harici hizmetlerin ve üçüncü şahısların unsurlarının, istatistiksel analiz/ölçümün, kişiselleştirilmiş reklamcılığın ve sosyal medyanın entegrasyonunun entegrasyonuna hizmet eder. İşleve bağlı olarak, veriler üçüncü taraflara aktarılır ve onlar tarafından işlenir. Bu onay isteğe bağlıdır, web sitemizin kullanımı için gerekli değildir ve sol alttaki simge kullanılarak herhangi bir zamanda iptal edilebilir.</div>
   </div>
   <div class="split my-[20px] bg-white/5 w-full h-px"></div>
   <div class="options-field flex items-center justify-between sm:flex-col sm:gap-[16px] sm:items-start">
      <div class="custom-check flex items-center gap-[10px]">
         <div class="title text-[14px] text-white/75">Fonksiyonel</div>
         <div class="selected-option h-[30px] rounded-full flex-center px-[20px] border border-solid border-white">
            <div class="text text-[12px] font-medium text-[#019B07]">Her Zaman Aktif</div>
         </div>
      </div>
      <div class="custom-check flex items-center gap-[10px]">
         <div class="title text-[14px] text-white/75">İstatistik</div>
         <div class="check-option relative">
            <input id="statistics" type="checkbox" class="absolute-full opacity-0 relative z-2 cursor-pointer peer" aria-label="Statistics" />
            <div class="box h-[20px] pointer-events-none w-[42px] duration-350 rounded-full bg-white/15 after:absolute after:left-[4px] after:top-[4px] after:w-[12px] after:h-[12px] after:rounded-full after:bg-white after:duration-350 peer-checked:bg-white/25 peer-checked:after:translate-x-[22px]"></div>
         </div>
      </div>
      <div class="custom-check flex items-center gap-[10px]">
         <div class="title text-[14px] text-white/75">Pazarlama</div>
         <div class="check-option relative">
            <input id="marketing" type="checkbox" class="absolute-full opacity-0 relative z-2 cursor-pointer peer" aria-label="Marketing" />
            <div class="box h-[20px] pointer-events-none w-[42px] duration-350 rounded-full bg-white/15 after:absolute after:left-[4px] after:top-[4px] after:w-[12px] after:h-[12px] after:rounded-full after:bg-white after:duration-350 peer-checked:bg-white/25 peer-checked:after:translate-x-[22px]"></div>
         </div>
      </div>
   </div>
   <div class="split my-[20px] bg-white/5 w-full h-px"></div>
   <div class="action-field flex items-center justify-between gap-[20px] sm:flex-col">
      <button class="button accept-cookie close-cookie group/button w-full flex justify-center items-center gap-[20px] bg-main-500 px-[20px] hover:bg-main-600 h-[45px] md:h-[50px] duration-350 border-0 rounded-[8px]">
         <div class="text text-[14px] text-white font-medium relative z-2 whitespace-nowrap duration-350">Çerezleri Kabul Et</div>
      </button>
      <button class="button close-cookie group/button w-full flex justify-center items-center gap-[20px] bg-transparent px-[20px] h-[45px] md:h-[50px] duration-350 border border-solid border-white/50 hover:border-white rounded-[8px]">
         <div class="text text-[14px] text-white/50 duration-350 font-medium relative z-2 whitespace-nowrap group-hover/button:text-white">Reddet</div>
      </button>
   </div>
   <div class="link-field mt-[30px]">
      <a href="page.html" class="text-white/50 duration-350 hover:text-white text-[14px] font-medium">Kişisel Verilerin Korunması</a>
      <span class="mx-[10px] text-white/10">|</span>
      <a href="page.html" class="text-white/50 duration-350 hover:text-white text-[14px] font-medium">Gizlilik</a>
   </div>
</div>
