/* Plugins */
@import '../../node_modules/swiper/swiper-bundle.min.css';
@import '../../node_modules/@fancyapps/ui/dist/fancybox/fancybox.css';

/* Theme Font(s) */

@font-face {
   font-family: 'Gilroy';
   src: url('../../assets/font/gilroy/Gilroy-Bold.woff2') format('woff2'),
       url('../../assets/font/gilroy/Gilroy-Bold.woff') format('woff');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Gilroy';
   src: url('../../assets/font/gilroy/Gilroy-BoldItalic.woff2') format('woff2'),
       url('../../assets/font/gilroy/Gilroy-BoldItalic.woff') format('woff');
   font-weight: bold;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Gilroy';
   src: url('../../assets/font/gilroy/Gilroy-BlackItalic.woff2') format('woff2'),
       url('../../assets/font/gilroy/Gilroy-BlackItalic.woff') format('woff');
   font-weight: 900;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Gilroy';
   src: url('../../assets/font/gilroy/Gilroy-LightItalic.woff2') format('woff2'),
       url('../../assets/font/gilroy/Gilroy-LightItalic.woff') format('woff');
   font-weight: 300;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Gilroy';
   src: url('../../assets/font/gilroy/Gilroy-Light.woff2') format('woff2'),
       url('../../assets/font/gilroy/Gilroy-Light.woff') format('woff');
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Gilroy';
   src: url('../../assets/font/gilroy/Gilroy-HeavyItalic.woff2') format('woff2'),
       url('../../assets/font/gilroy/Gilroy-HeavyItalic.woff') format('woff');
   font-weight: 900;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Gilroy';
   src: url('../../assets/font/gilroy/Gilroy-Heavy.woff2') format('woff2'),
       url('../../assets/font/gilroy/Gilroy-Heavy.woff') format('woff');
   font-weight: 900;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Gilroy';
   src: url('../../assets/font/gilroy/Gilroy-UltraLightItalic.woff2') format('woff2'),
       url('../../assets/font/gilroy/Gilroy-UltraLightItalic.woff') format('woff');
   font-weight: 200;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Gilroy';
   src: url('../../assets/font/gilroy/Gilroy-UltraLight.woff2') format('woff2'),
       url('../../assets/font/gilroy/Gilroy-UltraLight.woff') format('woff');
   font-weight: 200;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Gilroy';
   src: url('../../assets/font/gilroy/Gilroy-Black.woff2') format('woff2'),
       url('../../assets/font/gilroy/Gilroy-Black.woff') format('woff');
   font-weight: 900;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Gilroy';
   src: url('../../assets/font/gilroy/Gilroy-ExtraBoldItalic.woff2') format('woff2'),
       url('../../assets/font/gilroy/Gilroy-ExtraBoldItalic.woff') format('woff');
   font-weight: bold;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Gilroy';
   src: url('../../assets/font/gilroy/Gilroy-ExtraBold.woff2') format('woff2'),
       url('../../assets/font/gilroy/Gilroy-ExtraBold.woff') format('woff');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Gilroy';
   src: url('../../assets/font/gilroy/Gilroy-SemiBold.woff2') format('woff2'),
       url('../../assets/font/gilroy/Gilroy-SemiBold.woff') format('woff');
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Gilroy';
   src: url('../../assets/font/gilroy/Gilroy-SemiBoldItalic.woff2') format('woff2'),
       url('../../assets/font/gilroy/Gilroy-SemiBoldItalic.woff') format('woff');
   font-weight: 600;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Gilroy';
   src: url('../../assets/font/gilroy/Gilroy-Regular.woff2') format('woff2'),
       url('../../assets/font/gilroy/Gilroy-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Gilroy';
   src: url('../../assets/font/gilroy/Gilroy-ThinItalic.woff2') format('woff2'),
       url('../../assets/font/gilroy/Gilroy-ThinItalic.woff') format('woff');
   font-weight: 100;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Gilroy';
   src: url('../../assets/font/gilroy/Gilroy-Thin.woff2') format('woff2'),
       url('../../assets/font/gilroy/Gilroy-Thin.woff') format('woff');
   font-weight: 100;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Gilroy-RegularItalic';
   src: url('../../assets/font/gilroy/Gilroy-RegularItalic.woff2') format('woff2'),
       url('../../assets/font/gilroy/Gilroy-RegularItalic.woff') format('woff');
   font-weight: normal;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Gilroy';
   src: url('../../assets/font/gilroy/Gilroy-MediumItalic.woff2') format('woff2'),
       url('../../assets/font/gilroy/Gilroy-MediumItalic.woff') format('woff');
   font-weight: 500;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Gilroy';
   src: url('../../assets/font/gilroy/Gilroy-Medium.woff2') format('woff2'),
       url('../../assets/font/gilroy/Gilroy-Medium.woff') format('woff');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}


/* Iconfont */
@font-face {
   font-family: 'iconfont';
   src: url('../../assets/font/iconfont/iconfont.eot');
   src: url('../../assets/font/iconfont/iconfont.eot?#iefix') format('embedded-opentype'), url('../../assets/font/iconfont/iconfont.woff') format('woff'), url('../../assets/font/iconfont/iconfont.ttf') format('truetype'), url('../../assets/font/iconfont/iconfont.svg#iconfont') format('svg');
   font-weight: normal;
   font-style: normal;
}

[class*='icon-']:before {
   display: inline-block;
   font-family: 'iconfont';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

/* Icon List */

/* Reset */
*, *:before, *:after { @apply box-border !outline-none; }
html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video { @apply m-0 p-0 border-none text-[100%] [font:inherit] align-baseline [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [text-size-adjust:none]; }
body { @apply text-[100%] leading-normal font-primary bg-bodyColor; }
input, form, table, select, textarea, button { @apply font-primary text-[100%] leading-normal rounded-none !appearance-none backface-hidden resize-none outline-none border-none bg-transparent; }
select::-ms-expand { @apply !hidden; }
*, *:focus, *:focus-visible, *:hover, *:active, *::before, *::after { @apply !outline-none; }
footer, header, nav, section, main, article { @apply block; }
a, a:hover, a:active, a:focus, a:visited { @apply decoration-0; }
ol, ul, menu { @apply list-none m-0 p-0; }    
blockquote, q { @apply [quotes:none]; }
blockquote:before, blockquote:after, q:before, q:after { @apply content-none; }
table { @apply border-spacing-0 border-collapse; }
input { @apply appearance-none; }
svg { @apply overflow-visible block; }
em { @apply italic; }
strong { @apply font-bold; }
input[type=search]::-ms-clear { @apply hidden h-0 w-0; }
input[type=search]::-ms-reveal { @apply hidden h-0 w-0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { @apply hidden; }
input[type="date"]::-webkit-inner-spin-button { @apply hidden appearance-none; }
input[type="date"]::-webkit-calendar-picker-indicator { @apply hidden appearance-none; }
input[type="file"]::-webkit-file-upload-button { @apply cursor-pointer }
.text-editor { @apply 2xl:text-editor-2xl xl:text-editor-xl lg:text-editor-lg md:text-editor-md sm:text-editor-sm xs:text-editor-xs flex flex-col gap-7 2xl:gap-6 xl:gap-5 lg:gap-4 md:gap-3 sm:gap-2; }
.smart-menu { @apply will-change-[height,_transform] [&.scroll-down]:!top-0 [&.scroll-down]:!translate-y-0 [&.scroll-up.scroll-down]:!-translate-y-full }
select:required:invalid { @apply text-black/50; }
option[value=""][disabled] { @apply hidden; }
option { @apply text-black; }

/* Custom Styles */