{{!-- SAMPLE MODULE 1 --}}
<section class="sample-module-1 py-[120px] xl:py-[80px] lg:py-[60px] md:py-[30px]">
   <div class="container max-w-[1440px] w-full mx-auto px-[30px]">
      <div class="wrapper"></div>
   </div>
</section>