      <footer class="footer-field z-10 block relative">
         {{!-- AŞAĞIDA PENTA LOGOSUNUN GENEL KULLANIM ÖRNEĞİ BULUNAMKTADIR. --}}
         {{!-- BU KULLANIM HARİCİNDE, BAŞKA KULLANIM YAPILMAMASI GEREKMEKTEDİR. --}}
         {{!-- TASARIMDA FARKLI PENTA LOGO ÇİZİLMİŞ OLSA BİLE SADECE BU LOGO ÖRNEĞİNİ KULLANINIZ. --}}
         {{!-- LOGO ÜZERİNDE YAPABİLECEĞİNİZ DEĞİŞİKLİKLER: RENK SEÇİMİ (SİYAH-BEYAZ), OPACITY DEĞERİ. DİĞER ALANLARA DOKUNMAYINIZ. --}}
         {{!-- NOT: "signature" CLASS ADINI DEĞİŞTİREBİLİRSİNİZ. --}}

         {{!-- PENTA LOGOSU KULLANIM ÖRNEĞİ --}}
         {{!-- color    : "white" VEYA "black" değeri alır. --}}
         {{!-- opacity  : "0-100" arası değer alır. --}}
         <div class="signature flex justify-end md:justify-center">
            {{> "components/element/penta-logo.hbs" color="black" opacity="50" }}
         </div>
      </footer>
        
   </penta-yazilim>

{{> "layout/foot.hbs"}}