   {{> "layout/popup.hbs"}}

   <div class="body-overlay fixed left-0 top-0 w-full h-full z-70 bg-black/50 pointer-events-none opacity-0 duration-350 [&.active]:opacity-100 [&.active]:pointer-events-auto"></div>

   {{> "components/element/cookie.hbs"}}

   </body>
</html>